<!DOCTYPE html>
<html lang="en">

<head>
    <title>Locator</title>
    <script src="jquery.csv.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>
            <select v-model="selectedValue">
                <option disabled value="">Select a value</option>
                <option v-for="value in uniqValues" v-bind:value="value">{{value}}</option>
            </select>
        </div>
        <location-image v-bind:parts="selectedParts"></location-image>
        <reference-list v-bind:parts="selectedParts"></reference-list>
    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import App from './app.js';
        var app = createApp(App);
        app.mount('#app');
    </script>
</body>

</html>
