<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Locator</title>
    <link href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css" rel="stylesheet">
    <script src="jquery.csv.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row"><div class="col"><h2><img src="logo.png" width="80"> {{title}}</h2></div></div>
        <!-- Nav tabs -->
        <div class="row mb-3"><div class="col"><ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="#" @click="selectedTab='setup'">Setup</a></li>
            <li class="nav-item"><a class="nav-link" href="#" @click="selectedTab='assembly'">Assembly</a></li>
        </ul></div></div>
        <!-- Setup pane -->
        <div class="row" v-if="selectedTab == 'setup'">
            <div class="col-md-4 mb-3" style="max-width: 18rem">
                <div class="card text-bg-light" @dragover.prevent="" @drop.prevent="dropParts($event)">
                    <div class="card-body">
                        <h5 class="card-title"><img src="assets/img/filetype-csv.svg" width="32"/> Parts List</h5>
                        <p class="card-text">Drag parts list here. One row per part. Columns must include Ref, Description, X, Y and Layer.</p>
                        <p v-if="parts.length > 0">Loaded {{parts.length}} parts with {{uniqValues.length}} unique values.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3" style="max-width: 18rem">
                <div class="card text-bg-light" @dragover.prevent="" @drop.prevent="dropAssy($event)">
                    <div class="card-body">
                        <h5 class="card-title"><img src="assets/img/filetype-png.svg" width="32"/> Assembly Drawing</h5>
                        <p class="card-text">Drag assembly drawing here. PNG or JPG format. Cropped to board extents.</p>
                        <img v-if="assy.data.length > 0" style="max-width: 12rem" class="mb-3" :src="assy.data" />
                        <form v-if="assy.data.length > 0 && parts.length > 0" class="row"><label class="col-form-label col-6">Layer</label><selector class="form-select col" v-model="selectedLayer" :items="uniqLayers"></selector></form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3" style="max-width: 18rem">
                <div class="card text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title"><img src="assets/img/aspect-ratio.svg" width="32"/> Board Size</h5>
                        <p class="card-text">Board dimensions in same units as in parts list.</p>
                        <form>
                            <div class="row mb-1"><label class="col-form-label col-6">Left</label><input class="form-control col" type="number" v-model="assy.left"></div>
                            <div class="row mb-1"><label class="col-form-label col-6">Bottom</label><input class="form-control col" type="number" v-model="assy.bottom"></div>
                            <div class="row mb-1"><label class="col-form-label col-6">Width</label><input class="form-control col" type="number" v-model="assy.width"></div>
                            <div class="row mb-1"><label class="col-form-label col-6">Height</label><input class="form-control col" type="number" v-model="assy.height"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main assmebly drawing pane -->
        <div v-if="selectedTab == 'assembly'">
            <form class="row mb-3">
                <label class="col-form-label col-1">Value</label><selector class="form-select col" style="max-width: 36rem" v-model="selectedValue" :items="uniqValues"></selector>
            </form>
            <div class="row mb-3"><div class="col"><location-image :parts="selectedParts" :img="assy"></location-image></div></div>
            <div class="row mb-3"><div class="col"><reference-list :parts="selectedParts"></reference-list></div></div>
        </div>
    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import App from './app.js';
        var app = createApp(App);
        app.mount('#app');
    </script>
</body>

</html>
